@model weather_app.Models.Dtos.RegisterDto
@{
    Layout = "_AccountLayout";
}

<form class="form-signin" id="signup" method="POST" asp-controller="Account" asp-action="SignUp"
    onsubmit="return validateForm()" autocomplete="off">
    <img class="mb-4" src="https://i.pinimg.com/originals/77/0b/80/770b805d5c99c7931366c2e84e88f251.png" alt=""
        width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    @if (Model.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @Model.ErrorMessage
        </div>
    }

    <label for="inputName" class="sr-only">Full Name</label>
    <input type="text" asp-for="FullName" class="form-control" placeholder="Full Name" required autofocus>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" asp-for="UserName" class="form-control" placeholder="Username" required
        autofocus>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" asp-for="Email" class="form-control" placeholder="Email address" required
        autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" asp-for="Password" class="form-control" placeholder="Password" required
        autofocus>

    <label for="inputPasswordConfirm" class="sr-only">Password Confirm</label>
    <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Password Confirm" required
        autofocus>

    <div class="checkbox mb-3">
        <label>
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">Already Have an Account?</a>
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>

<script>
    function validateForm() {
       var pass = document.getElementById("inputPassword");
        var pass_confirm = document.getElementById("inputPasswordConfirm");
        if (pass.value === pass_confirm.value) {
            return true;
        }
        alert("Passwords does not match");
        return false;
    }
</script>